{% extends "core/base.html" %}
{% load static %}

{% block CSS %}
    <link rel="stylesheet" href="{% static 'users/style_password_reset_confirm.css' %}">
{% endblock CSS %}

{% block title %}
    Сталь+ Новий пароль
{% endblock title %}

{% block content %}

<h1 class="password-title">Новий пароль</h1>
<div class="footer_down">
<form method="post" autocomplete="off">
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
    <p><label class="" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}

    <p><button type="submit" class="password-submit-btn">Зберегти</button></p>
</form>
</div>
{% endblock content %}
