{% extends "core/base.html" %}
{% load static %}

{% block CSS %}
    <link rel="stylesheet" href="{% static 'users/style_password_reset_form.css' %}">
{% endblock CSS %}

{% block title %}
    Сталь+ Відновлення пароля
{% endblock title %}

{% block content %}
<div class="password-reset-container">

<h1 class="reset-form-title">Відновлення пароля</h1>

<form class="password-reset-wrapper" method="post">
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
    <p class="email-field-group">
        <label class="email-input-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <p><button class="submit-reset-button" type="submit">Скинути по електронній пошті</button></p>
</form>
</div>
{% endblock content %}
