{% extends "core/base.html" %}

{% block title %}
    Сталь+ Зміна пароля
{% endblock title %}

{% block content %}

<h1>Зміна пароля</h1>

<form method="post">
    {% csrf_token %}
<!--    {{ form.as_p }}-->
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
    <p><label class="" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <p><button type="submit">Змінити пароль</button></p>
</form>

{% endblock content %}
